$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone-only {
  @media (max-width: $tablet-width - 1px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}


:root {
  --primary-color: transparent;
  --font-color: #666;
  --font-color-lighter: #aaa;
  --font-color-stronger: #333;
  --bg-color: #fff;
  --box-shadow: 0.3rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  --box-shadow-sm: 0.1rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  --box-shadow-lg: 0 0 2rem rgba(0, 0, 0, 0.3);
  --responsive-breakpoint-sm: 576px;
  --responsive-breakpoint-md: 768px;
  --responsive-breakpoint-lg: 992px;
  --responsive-breakpoint-xl: 1200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #d5d5d5;
    --font-color-lighter: #aaa;
    --font-color-stronger: #f5f5f5;
    --bg-color: #222;
  }
}

html {
  background: var(--bg-color);
  color: var(--font-color);
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;

  @include tablet {
    background: var(--primary-color) url(bg.png);
  }
}

body {
  font-size: 1.6rem;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--font-color);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  padding: 0.8rem 3rem;
  border-radius: 999px;
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
  transform: translateY(0rem);
  will-change: transform;
  transition: transform 0.2s ease-in-out;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-weight: bold;
}

main {
  box-sizing: border-box;
  background-color: var(--bg-color);
  max-width: 1200px;
  margin: 4rem auto 4rem;
  padding: 0 3rem 3rem;
  position: relative;

  @include tablet {
    padding-top: 3rem;
    border-radius: 3rem;
    width: 90vw;
  }
}

ul.color-switcher {
  position: absolute;
  top: -3.5rem;
  right: 3rem;
  margin: 0;
  padding: 0;
}

ul.color-switcher li {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  border: 2px solid transparent;
  box-sizing: border-box;
}

ul.color-switcher li.active {
  border-color: var(--bg-color);
  position: relative;

  &::before {
    content: '✓';
    color: var(--bg-color);
    position: absolute;
    line-height: 1em;
    left: 0.1rem;
  }
}

nav {
  line-height: 4rem;
}

nav .nav-toggler {
  float: right;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 4rem;
  width: 4rem;
  text-align: center;
  position: relative;
  z-index: 3;

  @include tablet {
    display: none;
  }
}

nav a {
  color: var(--font-color-stronger);
}

nav a.brand {
  font-size: 2rem;
  text-decoration: none;
}

nav a.brand .logo {
  background-color: var(--primary-color);
  display: inline-block;
  color: var(--bg-color);
  width: 4rem;
  text-align: center;
  border-radius: 50%;
  font-weight: 900;
  font-size: 2rem;
}

nav a.brand strong {
  font-weight: bold;
  display: inline-block;
  margin-left: 0.5rem;
}

nav ul {
  @include phone-only {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    backdrop-filter: blur(5px);
    z-index: 2;
    padding-top: 8rem;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &.open {
      right: 0;
      opacity: 0.9;
    }
  }

  @include tablet {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
  }
}

nav ul li {
  @include phone-only {
    display: block;
    text-align: center;
    font-size: 3rem;
    position: relative;
    text-transform: uppercase;

    &::before {
      content: '';
      width: 10rem;
      height: 1px;
      background-color: currentColor;
      position: absolute;
      bottom: 1px;
      transform: translateX(-50%);
      opacity: 0.3;
    }

    &:last-child {
      &::before {
        display: none;;
      }
    }
  }

  @include tablet {
    display: inline-block;
    padding: 0 1rem;
  }
}

nav ul li a {
  text-decoration: none;
  opacity: 0.6;
  will-change: opacity;
  transition: opacity 0.2s ease-in-out;

  @include phone-only {
    display: block;
    height: calc((100vh - 8rem - 4px) / 5);
    line-height: calc((100vh - 8rem - 4px) / 5);
  }

  @include tablet {
  }
}

nav ul li.active a,
nav ul li a:hover {
  opacity: 1;
}

.profile {
  width: 57rem;
  max-width: 90%;
  margin: 4rem auto;
  text-align: center;

  @include tablet {
    text-align: left;
  }

  @include desktop {
    width: 75rem;
  }
}

.profile img {
  border-radius: 50%;
  border: 3px solid var(--font-color-lighter);
  padding: 2px;
  box-shadow: var(--box-shadow-lg);
  filter: grayscale(0.9);
  width: 30rem;
  z-index: 0;

  @include tablet {
    width: 20rem;
    float: left;
  }

  @include desktop {
    width: 25rem;
  }
}

.profile .biodata {
  margin-top: 3rem;

  @include tablet {
    margin-left: 25rem;
    width: 32rem;
  }

  @include desktop {
    margin-left: 30rem;
    width: 45rem;
  }
}

.profile h1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}

.profile h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--font-color-lighter);
  font-weight: normal;
  margin: 0.6rem 0 0;
}

.profile .action-buttons {
  margin-top: 3rem;
  
  @include tablet {
    clear: both;
  }
  
  @include desktop {
    clear: none;
    margin-top: 4.5rem;
    margin-left: 30rem;
  }
}

.profile a {
  display: block;
  text-align: center;

  @include tablet {
    display: inline-block;
    width: calc(50% - 2rem);
  }

  @include desktop {
    width: auto;
  }
}

.profile a.btn-primary {
  margin: 0 0 2rem;

  @include tablet {
    margin: 0 1rem 0 0
  }
}

.profile a:hover {
  border-color: var(--primary-color);
  box-shadow: var(--box-shadow-sm);
  transform: translateY(0.1rem);
}

footer {
  text-align: center;
  color: var(--font-color-lighter);

  @include tablet {
    color: var(--bg-color);
  }
}
